.entrance {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  padding: 70px 30px 0;
  margin: auto;
}

.entrance__title {
  margin: 32px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form {
  display: grid;
  grid-template-columns: minmax(260px, 396px);
  width: 100%;
}

.form__container {
  padding: 0;
  margin: 0;
  border: 0;
  margin: 40px 0 69px;
  min-height: 267px;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  min-height: 88px;
}

.form__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin-bottom: 10px;
}

.form__input {

  padding: 15px;
  border: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  background: #2F2F2F;
  border-radius: 8px;
  box-sizing: border-box;
}

.form__input::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.form__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  min-height: 12px;
  margin-top: 9px;
}

.form__button {
  background: #4285F4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px;
  border: 0;
}

.form__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__question {

  color: #8B8B8B;
}

.form__login-link {

  text-align: center;
  color: #4285F4;
  margin-left: 6px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .entrance {
    align-items: center;
    padding-top: 60px;
  }

  .form__container {
    margin: 80px 0 157px;
    min-height: 267px;
  }

  .entrance__title {
    margin-top: 38px;
  }

  .form__link-container {
    font-size: 12px;
    line-height: 15px;
  }

  .form__button {
    font-size: 12px;
    line-height: 15px;
  }
}
