.navigation {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.button {
  background: #3DDC84;
  border-radius: 3px;
  border: 0;
  padding: 9px 20px;
}

.navigation__link {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 30px;
}

.navigation__link:last-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 7px 12px;
  }

  .navigation {
    font-size: 10px;
    line-height: 1.6;
  }

  .navigation__link {
    padding-right: 15px;
  }
}
