.navigation {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.button_type_header {
  background: #3DDC84;
  padding: 9px 20px;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link_type_main {
  padding-right: 30px;
}


.link_type_main:last-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .button_type_header {
    padding: 7px 12px;
  }

  .navigation {
    font-size: 10px;
    line-height: 1.6;
  }

  .link_type_main {
    padding-right: 15px;
  }
}
