.about-project {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 110px;
}

@media screen and (max-width: 1023px) {
  .about-project {
    padding-top: 70px;
    padding-bottom: 88px;
  }
}

.section-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
}

.about-project__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(284px, 550px));
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 40px;
  grid-auto-flow: column;
  padding: 50px 0 110px;
}

@media screen and (max-width: 1023px) {
  .about-project__container {
    gap: 15px 30px;
    padding-bottom: 94px;
  }
}

.about-project__info {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .about-project__text {
    font-size: 12px;
    line-height: 1.5;
  }
}

.about-project__duration {
  font-size: 14px;
  line-height: 1.21;
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px;
  row-gap: 15px;
}

@media screen and (max-width: 1023px) {
  .about-project__duration {
    grid-template-columns: 140px 1fr;
  }
}

.about-project__time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about-project__time-back {
  color: #000000;
  font-weight: 400;
  background-color: #3ddc84;

}

.about-project__time-front {
  background-color: #303030;
}

.about-project__part {
  color: #8b8b8b;
  font-weight: 500;
}
